<featureType>
  <id>{{db_name}}-{{schema}}-{{name}}-Feature</id>
  <name>{{schema}}_{{name}}</name>
  <nativeName>{{name}}</nativeName>
  <namespace>
    <id>OttNamespace</id>
  </namespace>
  <title>{{schema}}_{{name}}</title>
  <keywords>
    <string>features</string>
    <string>{{name}}</string>
    <string>{{schema}}</string>
  </keywords>
  <srs>EPSG:404000</srs>
  <nativeBoundingBox>
    <minx>{{minx}}</minx>
    <maxx>{{maxx}}</maxx>
    <miny>{{miny}}</miny>
    <maxy>{{maxy}}</maxy>
  </nativeBoundingBox>
  <latLonBoundingBox>
    <crs>EPSG:4326</crs>
    <minx>{{minx}}</minx>
    <maxx>{{maxx}}</maxx>
    <miny>{{miny}}</miny>
    <maxy>{{maxy}}</maxy>
  </latLonBoundingBox>
  <projectionPolicy>FORCE_DECLARED</projectionPolicy>
  <enabled>true</enabled>
  <metadata>
    <entry key="cachingEnabled">false</entry>
  </metadata>
  <store class="dataStore">
    <id>DataStore-{{db_name}}:{{schema}}</id>
  </store>
  <maxFeatures>0</maxFeatures>
  <numDecimals>0</numDecimals>
  <overridingServiceSRS>false</overridingServiceSRS>
  <skipNumberMatched>false</skipNumberMatched>
  <circularArcPresent>false</circularArcPresent>
</featureType>
