<layer>
  <name>{{schema}}_{{type}}</name>
  <id>{{db_name}}-{{schema}}-{{type}}-Layer</id>
  <type>VECTOR</type>
  <defaultStyle>
    <id>StyleInfoImpl-78ff667e:12476299803:-7ffc</id>
  </defaultStyle>
  <resource class="featureType">
    <id>{{db_name}}-{{schema}}-{{type}}-Feature</id>
  </resource>
  <attribution>
    <logoWidth>0</logoWidth>
    <logoHeight>0</logoHeight>
  </attribution>
</layer>
