<layer>
  <name>{{name}}</name>
  <id>{{schema}}-{{name}}-Layer</id>
  <type>VECTOR</type>
  <defaultStyle>
    <id>StyleInfoImpl-78ff667e:12476299803:-7ffc</id>
  </defaultStyle>
  <resource class="featureType">
    <id>{{schema}}-{{name}}-Feature</id>
  </resource>
  <attribution>
    <logoWidth>0</logoWidth>
    <logoHeight>0</logoHeight>
  </attribution>
</layer>
